schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1"> 
    
    <xs:element name="spectrum" type="spectrumComplexType"/>
    
    <xs:complexType name="spectrumComplexType">
        <xs:sequence>
            <xs:element name="sct" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
